FUCLAW_OPENAI_BASE_URL=
FUCLAW_OPENAI_MODEL=
FUCLAW_OPENAI_API_KEY=

FUCLAW_DOCKER_IMAGE=fuclaw-agent:latest
FUCLAW_DB_PATH=./messages.db
FUCLAW_GROUPS_DIR=./groups
FUCLAW_IPC_DIR=./data/ipc
FUCLAW_POLL_INTERVAL=2s
FUCLAW_SCHEDULER_INTERVAL=1m
FUCLAW_IPC_INTERVAL=1s
